<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <title>Страница авторизации</title>
    <style>
        body {
            background-color: rgb(152, 157, 161);
        }
    </style>
</head>
<body>
    <form action="" id="auth_form">
        <input type="text" placeholder="login" id="login">
        <input type="text" placeholder="password" id="password">
        <button type="button" id="auth">Войти</button>
    </form>

    <a href="/registation">Создать</a>

    <script src="../static/js/Request.js"></script>
    <script src="../static/js/auth.js"></script>
</body>
</html>